apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: "{{ storage_class_slow }}"
provisioner: rancher.io/local-path
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: Delete
parameters:
  nodePath: /opt/local-path-provisioner