---
apiVersion: v1
kind: Namespace
metadata:
  name: kube-system
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-credentials
  namespace: kube-system
type: Opaque
stringData:
  apiToken: "{{ secrets.cloudflare.token }}"
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    env:
      - name: CLOUDFLARE_DNS_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare-api-credentials
            key: apiToken

    additionalArguments:
      - "--certificatesresolvers.letsencrypt-prod.acme.email={{ letsencrypt_email }}"
      - "--certificatesresolvers.letsencrypt-prod.acme.storage=/data/acme-prod.json"
      - "--certificatesresolvers.letsencrypt-prod.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt-prod.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.letsencrypt-prod.acme.dnschallenge.resolvers=1.1.1.3:53,1.0.0.3:53"
      - "--certificatesresolvers.letsencrypt-staging.acme.email={{ letsencrypt_email }}"
      - "--certificatesresolvers.letsencrypt-staging.acme.storage=/data/acme-staging.json"
      - "--certificatesresolvers.letsencrypt-staging.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt-staging.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.letsencrypt-staging.acme.dnschallenge.resolvers=1.1.1.3:53,1.0.0.3:53"
      - "--certificatesresolvers.letsencrypt-staging.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--api.dashboard=true"

    persistence:
      enabled: true
      size: 128Mi
      path: /data
      storageClass: "{{ storage_class_slow }}"

    logs:
      general:
        level: DEBUG
      access:
        enabled: true
